<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        * {
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            color: white;
            text-align: center;
            font-style: normal;
            font-variation-settings: "wdth" 100;
        }
        body {
            background-color: black;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Pistributed - 404</h1>
    <p>The page couldn't be found. Sorry!</p>
</body>
</html>