<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pistributed Home</title>
    <style>
        * {
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            color: white;
            text-align: center;
            font-style: normal;
            font-variation-settings: "wdth" 100;
        }
        body {
            background-color: black;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Pistrubuted {{ version }}</h1>
    <p>Pistrubuted is an open-source server & client to calculate Pi with distrubuted machines. Get started by downloading the client and connecting to this server.</p>
    <p>{{ pi }}</p>
    <p>{{ pilen }}</p>
    <hr>
    <footer>
        <p>This server is run by {{ name }}. Contact them at {{ email }} for support.</p>
        <p>Made with Python, Flask, and love by Wish ❤️</p>
        <p>Client, server, and website is made available via GPL-3.0. Learn more at <a href="https://github.com/wish13yt/pistributed">https://github.com/wish13yt/pistributed</a>.</p>
    </footer>
</body>
</html>